body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	padding: 50px 0;
}

#sitios {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.sitio {
	background-color: white;
	border: 1px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
}

.sitio h2 {
	text-align: center;
}

.sitio a {
	display: block;
	text-align: center;
	margin-top: 20px;
}

#botones {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.boton {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ddd;
	border: none;
	color: black;
	margin: 10px;
	font-size: 16px;
}

.boton:hover {
	cursor: pointer;
	background-color: #bbb;
}

.boton.activo {
	background-color: #4CAF50;
	color: white;
}
